@import "styles/mixin.scss";

.banner {
  &_body {
    background: white;
    position: sticky;
    top: 260px;
    left: 0;
    height: 500px;
    width: 100%;
    margin: 64px 0 32px 0;

    @include adaptive("tab-l") {
      margin-top: 32px;
    }

    @include adaptive("mob-l") {
      display: none;
    }
  }
}
