@import "styles/variables.scss";
@import "styles/mixin.scss";

.top {
  &_container {
    margin: 72px 0 24px 0;
    border-radius: 2px;
    max-width: 300px;

    @include adaptive("mob-l") {
      margin: 0 auto 32px auto;
    }

    @include adaptive("mob-m") {
      max-width: 290px;
    }
  }

  &_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &_item {
    display: flex;
    flex-flow: column;
    margin-bottom: 8px;
  }

  &_title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 17px;
    color: $orange;
    user-select: none;
  }

  &_link {
    color: black;
    font-weight: 700;
    font-size: 15px;
    opacity: 0.8;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $header-font;

    &:hover {
      opacity: 1;
    }
  }

  &_category {
    color: $grey;
    font-size: 14px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
    user-select: none;
  }
}
