@import "styles/variables.scss";
@import "styles/mixin.scss";

.hr {
  &_container {
    padding: 16px 0;
    background: $header_back;
    position: fixed;
    height: 72px;
    width: 100%;
    transition: top 0.4s ease;
    border-bottom: solid 2px $header_border;
    z-index: 2;
  }

  &_logo_link {
    display: block;
    height: 48px;
    width: 340px;
    position: relative;
    margin-top: 4px;

    @include adaptive("tab-l") {
      width: 280px;
      height: 42px;
    }

    @include adaptive("mob-l") {
      width: 220px;
      height: 34px;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &_stub {
    padding-bottom: 72px;
    background: $main_back;
  }
}

.nav {
  &_container {
    width: calc(100% - 560px);
    margin-left: auto;

    @include adaptive("tab-l") {
      width: calc(100% - 360px);
      margin-left: 42px;
    }

    @include adaptive("tab") {
      display: none;
    }
  }

  &_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  &_link {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.004em;
    white-space: nowrap;
    color: $nav_passive;
    text-transform: uppercase;
    font-family: "Oswald";

    &_active {
      color: $nav_active;
    }

    &:hover {
      color: $nav_active;
    }
  }
}

.menu {
  &_container {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    height: calc(100vh - 72px);
    background: $header_back;
    z-index: 9;
    padding: 36px 24px;
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &_link {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 16px;

    & a {
      color: $nav_passive;
    }
  }
}
