@import "styles/variables.scss";
@import "styles/mixin.scss";

.hr {
  &_container {
    padding: 16px 0;
    background: $header_back;
    position: fixed;
    height: 72px;
    width: 100%;
    transition: top 0.4s ease;
    border-bottom: solid 2px $header_border;
  }

  &_logo_link {
    display: block;
    height: 40px;
  }

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &_stub {
    padding-bottom: 72px;
    background: $main_back;
  }
}

.nav {
  &_container {
    width: calc(100% - 560px);
    margin-left: auto;
  }

  &_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  &_link {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.004em;
    white-space: nowrap;
    color: $nav_passive;
    text-transform: uppercase;

    &_active {
      color: $nav_active;
    }

    &:hover {
      color: $nav_active;
    }
  }
}
