@import "styles/variables.scss";
@import "styles/mixin.scss";

.stub {
  &_container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &_img {
    position: relative;
    width: 40vw;
    height: 40vw;
    max-height: 600px;
    max-width: 600px;

    @include adaptive("tab") {
      width: 60vw;
      height: 60vw;
    }

    @include adaptive("mob-l") {
        width: 70vw;
        height: 70vw;
      }
  }

  &_message {
    color: $orange;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    padding: 52px 0;
    font-family: "Oswald";
    width: 40vw;
    text-align: center;
    line-height: 48px;

    @include adaptive("tab-l") {
      font-size: 24px;
      line-height: 32px;
    }

    @include adaptive("tab") {
      font-size: 20px;
      line-height: 28px;
      width: 60vw;
    }

    @include adaptive("mob-l") {
        font-size: 18px;
        line-height: 24px;
        width: 70vw;
      }
  }
}
