@import "styles/variables.scss";
@import "styles/mixin.scss";

.prog {
  &_container {
    width: 100%;
    margin-top: 64px;
    margin-bottom: 42px;

    @include adaptive("mob-l") {
      margin-top: 24px;
    }
  }

  &_header {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    padding-bottom: 32px;
    border-bottom: 1px solid $grey_border;
    user-select: none;

    @include adaptive("tab-l") {
      font-size: 38px;
      line-height: 48px;
    }

    @include adaptive("mob-l") {
      font-size: 32px;
      line-height: 42px;
      padding-bottom: 24px;
    }
  }

  &_accordion {
    &_item {
      margin-bottom: 4px;
    }

    &_head {
      &_body {
        cursor: pointer;
      }

      &_text {
        background-color: $orange;
        font-weight: 700;
        font-size: 16px;
        padding: 12px 24px;
        text-decoration: none;
        color: #fff;
        border-radius: 2px;
        opacity: 0.85;
        transition: 0.6s ease;
        display: flex;
        justify-content: space-between;

        &[aria-expanded="true"] {
          opacity: 1;

          &::after {
            transform: rotateX(0);
          }
        }

        &::after {
          content: "";
          width: 22px;
          height: 18px;
          display: block;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='42px' height='42px' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M104.704 338.752a64 64 0 0 1 90.496 0l316.8 316.8 316.8-316.8a64 64 0 0 1 90.496 90.496L557.248 791.296a64 64 0 0 1-90.496 0L104.704 429.248a64 64 0 0 1 0-90.496z'/%3E%3C/svg%3E");
          background-size: cover;
          transform: rotate(-90deg) translateX(-2px);
          transition: 0.6s ease;
        }
      }
    }

    &_content {
      transition: 0.6s ease;
      display: flex;
      flex-flow: column;

      &[hidden] {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.6s cubic-bezier(0, 1, 0, 1);
      }

      &:not([hidden]) {
        max-height: 1000px;
        transition: max-height 0.6s ease-in-out;
      }
    }

    &_content &_link {
      text-decoration: none;
      color: $black_font;
      padding: 4px 24px;

      &:first-child {
        margin-top: 16px;
      }

      &:last-child {
        margin-bottom: 16px;
      }

      &_hover {
        opacity: 0.8;
      }
    }
  }
}