@import "styles/mixin.scss";

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 106px;

  @include adaptive("desk") {
    padding: 0 16px;
  }

  @include adaptive("mob-l") {
    padding: 0 8px;
  }
}
