@import "styles/variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "NunitoSans", sans-serif;
  color: $black_font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  color: $black_font;
}

:root,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: $main_back;
  color: $main_font;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main_grid_container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 16px;
}

@media only screen and (max-width: 767.98px) {
  .main_grid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: local("Oswald"), url("../public/font/Oswald.woff2") format("woff2"),
    url("../public/font/Oswald.woff") format("woff");
}

@font-face {
  font-family: "NunitoSans";
  font-style: normal;
  font-weight: normal;
  src: local("NunitoSans-Regular"),
    url("../public/font/NunitoSans-Regular.woff2") format("woff2"),
    url("../public/font/NunitoSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "NunitoSans";
  font-style: normal;
  font-weight: 700;
  src: local("NunitoSans-Bold"),
    url("../public/font/NunitoSans-SemiBold.woff2") format("woff2"),
    url("../public/font/NunitoSans-SemiBold.woff") format("woff");
}

