//Backgrounds colors:
$header_back: #190a49;
$main_back: #151515;

//Fonts colors:
$main_font: #ffffff;
$nav_active: #AE387A;
$nav_passive: #ffffff;
$copyright_font: #443586;

// Colors:
$yellow: #ffc759;
$white: #ffffff;

// Border colors:
$header_border: #ff0e3b;
