//Backgrounds colors:
$alt_back: #f9f8fb;
$black_back: #161618;
$black_light_back: #262528;

//Fonts colors:
$label_primary: #202023;
$label_secondary: #797780;
$label_grey: #c9c7d1;
$grey_opacity: rgba(201, 199, 209, 0.6);

// Colors:
$yellow: #ffc759;
$white: #ffffff;

// Border colors:
$divider_primary: #e7e6eb;
$divider_secondary: #f1f0f5;
$grey_border: rgba(86, 85, 92, 0.6);

//Z INDEXs:
$z_dropdown: 5;
$z-blanket: 4;
